/* Navbar */
.navbar{
    font-size: large;
}

/* Home page */
.home-page{
    background-color: tan;
}
.home-page img{
    border-radius: 5%;
    width:30vh;
}
.img1{
    margin-top: 30%;
    margin-bottom: 5%;
}
.img2{
    margin-top: 4%;
}
.home-text{
    background-color: antiquewhite;
    text-align: start;
    font-family: 'Roboto Slab', serif;
    height: 51vh;
}
.home-text h1{
    margin-left: 5%;
    margin-top: 20%;
    color:rgb(223, 159, 77);
}
.home-text p{
    margin-left: 5%;
    margin-top: 10%;
}
.home-text button {
    margin-left: 5%;
    margin-top: 10%;
}